<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ac.kr.inhatc.spring.Mapper.AttendanceMapper">

    <!-- 회원의 출석여부를 조회하기위한 Query -->
    <select id="attCheck" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM ATTENDANCE WHERE ID = #{id} and ATT_DATE = curdate()
    </select>

    <insert id="Attendance" parameterType="String">
        INSERT INTO ATTENDANCE (ID, ATT_DATE) VALUES (#{id}, CURDATE());
        UPDATE ATTENDANCE X INNER JOIN MEMBER Y ON X.ID = Y.ID
        SET X.PHONE = Y.PHONE WHERE Y.ID = #{id};
        UPDATE ATTENDANCE X INNER JOIN MEMBER Y ON X.ID = Y.ID
            SET X.NAME = Y.NAME WHERE Y.ID = #{id};
    </insert>

    <select id="AttendCount" resultType="hashmap">
        SELECT ID, COUNT(ID) as 'COUNT' FROM ATTENDANCE GROUP BY ID
    </select>
</mapper>

